# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
venv/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/
.coverage

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db
